@import 'bootstrap';

.wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
}

.login-page, .register-page {
    align-self: center;
    justify-self: center;
    min-width: 600px;
    padding: 50px;
}

.error-message {
    color: red;
}

.entity-summary {
    height: 100%;
}

.entity-summary .card-header {
    display: flex;
    justify-content: space-between;
}

.entity-summary .card-header > div {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}